<h1> Comandos </h1>

<div class = "content-fluid">
	<h1 style = "color:blue;"> Servidor github y heroku </h1>
	<br>  
	<label style = "color:red;"> Saludo: /soy</label>
	<br>  
	<label style = "color:red;"> Foto: /pic</label>
	<br>
	<label style = "color:red;"> Ubicaion: /ubicacion</label>	
	<br> 
	<label style = "color:red;"> Audio: /musica</label>




</div>

